<template>
  <div>
    <div
      :class="{ 'bottom-card':true,
        'bottom-card-odd': (idx+Math.floor(idx/4))%2==1 ,
        'bottom-card-even': (idx+Math.floor(idx/4))%2==0
      }"
      v-for="(image, idx) in images" :key="idx"
      :style="{ 'background-color': image.color }"
    >
      <div class="bottom-card-image-wrapper">
        <img :src="image.file" class="bottom-card-image"/>
        <div class="bottom-card-image-overlay">
          <div class="bottom-card-image-overlay-content">
            <font-awesome-icon icon="plus"/>
            <p>
              design name
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faPlus } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
library.add(faPlus)

export default {
  name: 'bottomCards',
  data: () => ({
    images: [
      { file: '/p2/money_cr.png', color: '#f39943' },
      { file: '/p2/house_cr.png', color: '#3782aa' },
      { file: '/p2/flower_cr.png', color: '#ee5d88' },
      { file: '/p2/cards_cr.png', color: '#f6f0e0' },
      { file: '/p2/calc_cr.png', color: '#56cc82' },
      { file: '/p2/conversion_cr.png', color: '#95a5a5' },
      { file: '/p2/wallet_cr.png', color: '#24b0c9' },
      { file: '/p2/note_cr.png', color: '#fa8562' }
    ]
  }),
  components: {
    FontAwesomeIcon
  }
}
</script>

<style scoped lang="scss">
@mixin flex-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-card {
  float: left;
  padding-top: calc(3 / 14 * 100%);
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.bottom-card-odd {
  width: calc(100% * 3 / 14);
}
.bottom-card-even {
  width: calc(100% * 4 / 14);
}
.bottom-card-image-wrapper {
  @include flex-wrapper;
  text-align: center;
}
.bottom-card-image-overlay {
  @include flex-wrapper;
  display: none;
  background-color: rgba(0, 0, 0, 0.644);
}
.bottom-card-image-wrapper:hover > .bottom-card-image-overlay {
  display: flex;
}
.bottom-card-image-overlay-content {
  color: white;
}
@media (max-width: 740px){
  .bottom-card{
    width: 50%;
    padding-top: 0;
    height: 200px;
    box-sizing: content-box;
  }
}
@media (max-width: 360px){
  .bottom-card{
    width: 100%;
  }
}
</style>
