<template>
  <div class="protfolio-wrapper">
    <div class="protfolio-text">
        protfolio
    </div>
    <b-row class="protfolio-buttons-row">
      <b-col v-for="(button, idx) in buttons" :key="idx">
        <div class="protfolio-button">
          {{button.name}}
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'protfolio',
  data: () => ({
    buttons: [
      { name: 'ALL' },
      { name: 'ILLUSTRSTION' },
      { name: 'DIGITAL ART' },
      { name: 'WEB DESIGN' }
    ]
  })
}
</script>

<style scoped lang="scss">
.protfolio-wrapper {
    width: 100%;
    height: fit-content;
    background-color: rgb(54, 54, 54);
    text-align: center;
    position: relative;
}
.protfolio-text {
    color: white;
    font-size: 25px;
    top: 15em;
    padding-top: 50px;
    padding-bottom: 10px;
    display: block;
}
.protfolio-button {
  color: gray;
  white-space: nowrap;
  cursor: pointer;
}
.protfolio-button:hover {
  color: red;
}
.protfolio-buttons-row {
  width: fit-content;
  margin: auto;
  padding-bottom: 30px;
}
</style>
