<template>
    <b-container>
      <b-row>
        <b-col v-for="(card, idx) in topCards" :key="idx"
          sm="3"
        >
          <div class="top-cards">
            <div class="top-cards-icons-wrapper">
              <svg class="hexagon-image">
                <path
                  class="hexagon"
                  d="M100,50L75,93.3L25,93.3L0,50L25,6.7L75,6.7L100,50"
                />
              </svg>
              <font-awesome-icon :icon="card.icon" class="top-cards-icon"/>
            </div>
            <div class="top-cards-text">
              <h6 class="top=cars-text-header">
                {{card.text}}
              </h6>
              <p class="top-cards-text-body">
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
                Phasellus condimentum auctor magna.
              </p>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faHeart, faCheck, faTabletAlt, faFire } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faHeart, faCheck, faTabletAlt, faFire)

export default {
  name: 'topCards',
  data: () => ({
    topCards: [
      {
        icon: 'heart',
        text: 'FLAT DESIGN'
      },
      {
        icon: 'check',
        text: 'RETINA READY'
      },
      {
        icon: 'tablet-alt',
        text: 'RESPONSIVE'
      },
      {
        icon: 'fire',
        text: 'CLEAN & USEFUL'
      }
    ]
  }),
  components: {
    FontAwesomeIcon
  }
}
</script>
<style>
.top-cards {
  position: relative;
  text-align: center;
  color: black;
  cursor: pointer;
}
.top-cards-icon {
  position: absolute;
}
.hexagon-image {
  width: 100px;
  height: 100px;
  transform: scale(0.5);
}
.hexagon {
  stroke: black;
  stroke-width: 1px;
  fill: rgba(0,0,0,0);
}
.top-cards:hover .hexagon {
  fill: red;
  stroke: none;
}
.top-cards:hover .top-cards-icon {
  color: white;
}
.top-cards-icons-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-cards-text {
  color: black;
}
.top-cards-text-header {
  white-space: nowrap;
}
.top-cards-text-body {
  font-size: 13px;
  text-align: center;
}
</style>
