<template>
    <div class="p4-card">
        <div class="reseller">
            <font>
                RESELLER
            </font>
        </div>
        <div
            :class="{'color-select': hover}"
            class="price"
        >
            <font>
                <slot name="price"></slot>
            </font>
            year
        </div>
        <div class="p4-card-content">
            <slot name="content"></slot>
        </div>
        <div
            :class="{'color-select': hover}"
            class="order-now"
            @mouseenter="mouseenter"
            @mouseleave="mouseleave"
        >
            <font>
                ORDER NOW
            </font>
        </div>
    </div>
</template>

<script>
export default {
  name: 'p4Card',
  data: () => ({
    hover: false
  }),
  methods: {
    mouseenter () {
      this.hover = true
    },
    mouseleave () {
      this.hover = false
    }
  }
}
</script>

<style scoped lang="scss">
  .p4-card {
      width: 100%;
      margin-bottom: 20px;
  }
//   .p4-card:hover .color-select {
//       background-color: #fc0937;
//   }
  div.color-select {
      background-color: #fc0937;
  }
  @mixin flex {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .reseller{
      @include flex;
      height: 40px;
      color: white;
      background-color: #262626;
  }
  .order-now{
      @include flex;
      height: 30px;
      color: white;
      margin: 0px 20px 0px 20px;
      background-color: #262626;
      cursor: pointer;
  }
  .p4-card-content > div{
      box-sizing: border-box;
      padding: 10px;
      border-top: solid rgba(0,0,0,0.5) 1px;
      text-align: center;
  }
  .price {
      text-align: center;
      background-color: #f1f3f2;
  }
  .price > font {
      font-size: 40px;
  }
</style>
