<template>
    <div class="products-header">
        <h1 class="bestseller">
          Plans <font class="red-text"> Bestseller </font>
        </h1>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur <font class="red-text"> adipiscing elit</font>, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
</template>

<script>
export default {
  name: 'productsHeader'
}
</script>

<style scoped>
.products-header {
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0px 30px 30px 30px;
}
.bestseller {
  margin: 0;
  padding-top: 50px;
}
.red-text{
  color: red;
  font-family: sans-serif;
}
</style>
