<template>
  <div class="header">
    <img src="/p1/half_octagon.svg" class="header-octagon"/>

    <b-nav
      pills
      align="right"
      class="nav"
    >
      <b-nav-item
        lg
        v-for="(link, idx) in links"
        :key="idx"
        class="header-item"
      >
      <div class="header-element">
          {{link.name}}
      </div>
      <div class="header-red-thing"/>
      </b-nav-item>
    </b-nav>
  </div>
</template>

<script>

export default {
  name: 'p1Header',
  data: () => ({
    links: [
      { name: 'HOME' },
      { name: 'ABOUT US' },
      { name: 'PORTFOLIO' },
      { name: 'CLIENTS' },
      { name: 'TEAM' },
      { name: 'SERVICES' },
      { name: 'BLOG' },
      { name: 'CONTACT' }
    ]
  })
}
</script>

<style scoped lang="scss">
$strip:
    linear-gradient(
        to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 1px,
        rgb(0,0,0) 1px, rgb(0,0,0) 50%, rgba(0,0,0,0) 50%
    ),
    linear-gradient(
        to top, rgba(0,0,0,0), rgba(0,0,0,0) 1px,
        rgb(0,0,0) 1px, rgb(0,0,0) 50%, rgba(0,0,0,0) 50%
    );

.header {
    background-image: $strip;
    position: relative;
    z-index: 99;
}
.nav {
    position: relative;
    z-index: 0;
    height: fit-content;
    background-image: $strip;
}

.header-element {
    color: grey;
    position: relative;
    z-index: 3;
    background-color: black;
    white-space: nowrap;
}

.header-element:hover {
    color: white;
}

.header-element:hover ~ .header-red-thing {
    display: block;
}

.header-red-thing {
    background-color: red;
    width: 20px;
    height: 100%;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: -1;
    display: none;
}
.header-item {
    background-image: $strip;
    position: relative;
}

.header-octagon {
    z-index: 2;
    top: 1px;
}

@media all {
    .header-octagon {
        position: relative;
        left: 0px;
    }
}

@media (min-width: 950px) {
    .header-octagon {
        position: absolute;
        left: 0;
    }
    .nav {
        margin-left: 200px;
    }
}

@media (min-width: 1150px) {
    .header-octagon {
        position: absolute;
        left: 200px;
    }
    .nav {
        margin-left: 400px;
    }
};
</style>
