<template>
  <div
    class="slideshow"
  >
    <div
      class="carousel slide slides"
      img-width="100px"
      indicators
      id="carouselControls"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="slide-content-outer">
            <div class="slide-content">
              <h1>why <font style="color: red;">creativia?</font></h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam placerat pharetra eros, in venenatis lectus dignissim a.
                Nullam quis nisl ullamcorper, convallis urna in, faucibus ligula.
                Vivamus convallis placerat gravida.
              </p>
              <div class="slide-content-buttons-wrapper">
                <div class="slide-content-button">
                  <span class="slide-content-button-text">
                    FEATURES
                  </span>
                </div>
                <div class="slide-content-button">
                  <span class="slide-content-button-text">
                    FREE PSD
                  </span>
                </div>
              </div>
            </div>
          </div>
          <img src="/p1/woman-in-red.png" class="slide-image"/>
          <div class="slide-shade"/>
        </div>
        <div class="carousel-item">
          <img src="/p1/woman-in-red.png" class="slide-image"/>
        </div>
      </div>
      <a
        class="carousel-control-prev slide-control"
        href="#carouselControls"
        data-slide="prev"
        role="button"
      >
        <font-awesome-icon icon="angle-left" class="slide-prev-icon"/>
      </a>
      <a
        class="carousel-control-next slide-control"
        href="#carouselControls"
        data-slide="next"
        role="button"
      >
        <font-awesome-icon icon="angle-right" class="slide-next-icon"/>
      </a>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faAngleLeft, faAngleRight } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
library.add(faAngleLeft, faAngleRight)

export default {
  name: 'p1Slideshow',
  components: {
    FontAwesomeIcon
  }
}
</script>

<style scoped lang="scss">
.slideshow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
}
@media (max-width: 950px){
  .slideshow {
    position: relative;
    top: -1px;
  }
}
.slides {
    height: 100%;
}
.slide-content-outer {
    position: absolute;
    left: 50%;
    top: 50%;
}
.slide-content {
    position: relative;
    left: -50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    z-index: 2;
}
.slide-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.slide-shade {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.carousel-inner, .carousel-item {
    height: 100%;
    z-index: 0;
}
a.slide-control {
    color: gray;
}
a.slide-control:hover {
    color: red;
}
.slide-prev-icon, .slide-next-icon {
    transform: scale(2);
}
.slide-content-button {
    background-color: red;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    width: 130px;
    height: 30px;
    border-radius: 5px;
}
.slide-content-buttons-wrapper {
    margin: auto;
    width: fit-content;
}
.slide-content-button-text {
    vertical-align: middle;
}
</style>
