<template>
  <div>
    <top-cards/>
    <protfolio/>
    <bottom-cards/>
  </div>
</template>

<script>
import topCards from './components/topCards'
import protfolio from './components/protfolio'
import bottomCards from './components/bottomCards'

export default {
  name: 'App',
  data: () => ({
  }),
  components: {
    topCards,
    protfolio,
    bottomCards
  }
}
</script>

<style lang="scss">
</style>
