<template>
  <div id="app">
    <p1-header/>
    <p1-slideshow/>
  </div>
</template>

<script>
import p1Header from './components/p1Header'
import p1Slideshow from './components/p1Slideshow'

export default {
  name: 'App',
  components: {
    p1Header,
    p1Slideshow
  }
}
</script>

<style lang="scss">

@import './common.scss';

html, body, #app {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>
