<template>
  <div id="app">
    <b-list-group>
      <b-list-group-item
        v-for="(page, idx) in pages"
        :key="idx"
        :href="page.href"
      >
        {{page.name}}
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    pages: [
      { name: 'p1', href: 'p1.html' },
      { name: 'p2', href: 'p2.html' },
      { name: 'p3', href: 'p3.html' },
      { name: 'p4', href: 'p4.html' }
    ]
  })
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  // color: #2c3e50;
}
</style>
