<template>
  <div class="app">
    <services-header/>
    <b-container class="p3-cards">
      <b-row>
        <b-col
          class="p3-card"
          v-for="(card, idx) in cards"
          :key="idx"
          md="6"
        >
          <p3Card>
            <template v-slot:logo>
              <font-awesome-icon :icon="card.icon"/>
            </template>
            <template v-slot:title>
              {{card.title}}
            </template>
            <template v-slot:text>
              {{card.text}}
            </template>
          </p3Card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import servicesHeader from './components/servicesHeader'
import p3Card from './components/p3Card'

import { library } from '@fortawesome/fontawesome-svg-core'
import { faWordpress, faHtml5 } from '@fortawesome/free-brands-svg-icons'
import { faCode, faTabletAlt, faPencilAlt } from '@fortawesome/free-solid-svg-icons'
// import { faPencilAlt } from '@fortawesome/free-regular-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
library.add(faWordpress, faCode, faTabletAlt, faHtml5, faPencilAlt)

export default {
  name: 'App',
  data: () => ({
    cards: [
      {
        icon: ['fas', 'code'],
        title: 'DEVELOPMENT',
        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
      },
      {
        icon: ['fab', 'html5'],
        title: 'HTML/CSS',
        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
      },
      {
        icon: ['fab', 'wordpress'],
        title: 'WORDPRESS',
        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
      },
      {
        icon: ['fas', 'tablet-alt'],
        title: 'APPLICATIONS',
        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
      },
      {
        icon: ['fas', 'pencil-alt'],
        title: 'UX / UI DESIGN',
        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
      },
      {
        icon: ['fas', 'tablet-alt'],
        title: 'RESPONSIVE LAYOUT',
        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`
      }
    ]
  }),
  components: {
    servicesHeader,
    p3Card,
    FontAwesomeIcon
  }
}
</script>

<style lang="scss">

$bgcolor: #262626;

html, body {
  margin: 0;
  background-color: $bgcolor;
}
.p3-card {
  padding: 20px;
}
.p3-cards {
  background-color: $bgcolor;
}
.app {
  background-color: $bgcolor;
}
</style>
