<template>
    <div class="p3-card">
        <div class="p3-card-header">
            <div class ="hexagon-logo">
                <svg class="hexagon-image" viewBox="0 0 100 100">
                    <path
                        class="hexagon"
                        d="M100,50L75,93.3L25,93.3L0,50L25,6.7L75,6.7L100,50"
                    />
                </svg>
                <div class="slot-logo">
                    <slot name="logo"></slot>
                </div>
            </div>
            <div class="slot-title">
                <slot name="title"></slot>
            </div>
        </div>
        <div class="p3-card-content">
            <slot name="text"></slot>
        </div>
    </div>
</template>

<script>
export default {
  name: 'p3Card'
}
</script>

<style scoped lang="scss">
  $bgcolor: #262626;
  $bgcolor-red: #402328;
  $bgcolor-light: #343434;
  .p3-card {
      width: 100%;
      background-color: $bgcolor;
      position: relative;
  }
  .p3-card:hover .p3-card-content {
      background-color: $bgcolor-red;
  }
  .p3-card:hover .hexagon {
      fill: red;
  }
  .p3-card:hover .slot-logo {
      color: white;
  }
  .p3-card-header{
      height: fit-content;
      width: fit-content;
      display: flex;
      align-items: center;
  }
  .hexagon-image {
      width: 50px;
      height: 50px;
      fill: gray;
  }

  .hexagon-logo {
      width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .slot-logo {
      position: absolute;
  }
  .slot-title {
      padding-left: 30px;
      color: white;
      font-family: sans-serif;
  }
  .p3-card-content {
      margin-top: 30px;
      color: white;
      border-radius: 5px;
      background-color: $bgcolor-light;
      padding: 15px;
  }
</style>
