<template>
    <div class="services-header">
        <h1 class="our-services">
          our <font class="red-text"> services </font>
        </h1>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur <font class="red-text"> adipiscing elit</font>, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
</template>

<script>
export default {
  name: 'servicesHeader'
}
</script>

<style scoped>
.services-header {
  width: 100%;
  background-color: #262626;
  color: white;
  text-align: center;
  padding: 0px 30px 30px 30px;
}
.our-services {
  margin: 0;
  padding-top: 50px;
}
.red-text{
  color: red;
  font-family: sans-serif;
}
</style>
