<template>
  <div class="app">
    <products-header/>
    <b-container class="p4-cards">
      <b-row>
        <b-col
          v-for="(card, idx) in cards"
          :key="idx"
          md="3"
        >
          <p4Card>
            <template v-slot:content>
              <div v-for="(field, idx) in card.fields" :key="idx">
                {{field}}
              </div>
            </template>
            <template v-slot:price>
              {{card.price}}
            </template>
          </p4Card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import productsHeader from './components/productsHeader'
import p4Card from './components/p4Card'

export default {
  name: 'App',
  data: () => ({
    cards: [
      {
        fields: [
          'CPU E3 1230 3.3GHz 8Mb V2',
          'HARD 500GB SATA 7200 RPM',
          'RAM 8GB DDR3 1333MHz ECC',
          'Traffic 10TB',
          'Connection 100Mb',
          'SIP'
        ],
        price: '199$'
      },
      {
        fields: [
          'CPU E3 1230 3.3GHz 8Mb V2',
          'HARD 500GB SATA 7200 RPM',
          'RAM 8GB DDR3 1333MHz ECC',
          'Traffic 10TB',
          'Connection 100Mb',
          'SIP'
        ],
        price: '199$'
      },
      {
        fields: [
          'CPU E3 1230 3.3GHz 8Mb V2',
          'HARD 500GB SATA 7200 RPM',
          'RAM 8GB DDR3 1333MHz ECC',
          'Traffic 10TB',
          'Connection 100Mb',
          'SIP'
        ],
        price: '199$'
      },
      {
        fields: [
          'CPU E3 1230 3.3GHz 8Mb V2',
          'HARD 500GB SATA 7200 RPM',
          'RAM 8GB DDR3 1333MHz ECC',
          'Traffic 10TB',
          'Connection 100Mb',
          'SIP'
        ],
        price: '199$'
      }
    ]
  }),
  components: {
    productsHeader,
    p4Card
    // FontAwesomeIcon
  }
}
</script>

<style lang="scss">

$bgcolor: #262626;

html, body {
  margin: 0;
}

</style>
